.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.shop-container .shop-product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem;
    row-gap: 1.5rem;
}
.shop-cart .link{
    text-decoration: none;
}

.shop-cart .cart-btn{
    background: #FF9900;
    border-radius: 4px;
    width: 100%;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shop-cart .cart-btn p{
    padding-right: 0.5rem;
}
.shop-cart .cart-btn:hover{
    background: #b31010;
}
@media screen and (max-width:1100px) {
    .shop-container .shop-product{
        grid-template-columns: repeat(2, 1fr);
    }
    .shop-container .shop-product{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0.5rem;
    }
}
@media screen and (max-width:992px) {
    .shop-container{
        grid-template-columns: 3fr 2fr;
    }
    .shop-container .shop-product{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0.5rem;
    }
}
@media screen and (max-width:900px) {
   /* body{
       overflow-x: hidden;
   } */
    .shop-container .shop-product{
        grid-template-columns:1fr;
        column-gap: 0.5rem;
    }
}
@media screen and (max-width:768px) {
    .shop-container{
        grid-template-columns: 1fr;
    }
    .shop-container .shop-product{
        grid-template-columns: 1fr;
        column-gap: 0.5rem;
    }
}
